/* SORRY TO ANYONE READING FOR THE SPAGHETTI / MESSY CODE */
/* LAYER ONE */
* { 
    padding:0rem;
    margin: 0rem;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.layerOneHeader{
    box-shadow: inset 0 0 20em 8em #000;
    background-image: url("images/Kuala_Lumpur_Skyline_at_dusk_1.jpg");
    width: 100%;
    height: 100%;
}
.headerNavBar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #081322;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.headerNavBar .logoNavBar, .linksNavBar{
    text-align: center;
    flex:1; 
    padding: 1.5rem 3rem;
}

.headerNavBar .linksNavBar{
    flex: 2;
    align-items: center;
    justify-content: center;
    gap: 6.5rem;
    display: flex;
}


.headerNavBar .logoNavBar{ 
    color: #F9FAF8;
    font-size: 1.5rem;
}


.headerNavBar .linksNavBar a{
    text-decoration: none;
    overflow:hidden;
    color: #E5E7EB;
    font-size: 1.2rem;
    transition: 0.5s;
    display: inline-block;
    position: relative;
}

.headerNavBar .linksNavBar a:hover{
    transform: scale(1.15);
}

.headerNavBar .linksNavBar a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#E5E7EB;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .headerNavBar .linksNavBar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.layerOneContent{
    padding: 15rem 0rem 15rem 5rem;
    display: flex;
}

.layerOneContent .contentHeroText{
    padding: 6.5rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contentHeroText span{
    color: #e9f2ff;
}

.layerOneContent .mainHeroText{
    color: #F9FAF8;
    font-size: 5rem;
    font-weight: bolder;
}

.layerOneContent .mainSubText {
    font-size: 1.5rem;
    color: white;
}

.contentHeroText .mainButton{
    font-size: 1.3rem;
    font-weight: bold;
    background-color:#3882F6;
    color: white;
    border-radius: 0.6rem;
    border-style: none;
    max-width: 200px;
    padding: 0.8rem 1.5rem;
    transition: 0.5s;
}

.contentHeroText .mainButton:hover{
    transform: scale(1.05);
    background-color: white;
    color:#3882F6;
}

.contentHeroText .mainButton:active{
    opacity: 0.8;
}

/* LAYER 2  */

.layerTwoMain{
    margin-bottom: 8rem;
}

.layerTwoMain .layerTwoHero{
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #1F2937;
    margin: 6rem 0rem 4rem 0rem;
    text-align: center;
}

.layerTwoMain .layerTwoHero span{
    font-size: 2.75rem;
    color:#3882F6;  
}

.layerTwoMain .layerTwoImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.layerTwoImages .layerTwoImageBorders{
    
    border-style:solid ;
    border-radius: 0.98rem;
    padding: 0.25em 0.25em 0em 0.25em;
    border-color:#3882F6;
    transition: 0.5s;
    
}

.layerTwoImages .layerTwoImageBorders .layerTwoImageContent{
    width: 25rem;
    height: auto;
    border-radius: 0.6rem;
    transition: 0.8s;
}

.layerTwoImages .layerTwoImageBorders:hover{
    transform: scale(1.05);
    border-color: #1F2937;
}

.layerTwoImages .layerTwoImageBorders:hover{
    transform: scale(1.05);
}

.layerTwoImageContainers{    
    display: flex;
    flex-direction: column;
    gap: 0.98rem;
}

.cityImageCaption{
    letter-spacing: 1.2px;
    color: #1F2937;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    
}

.layerTwoImageBorders:hover ~ .cityImageCaption {
    transform: scale(1.2);

}

/* LAYER THREE QUOTE */

.layerThreeQuote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 6rem 0px;
}


.layerThreeQuote .layerThreeQuoteText{
    text-align: center;
    font-size: 2.8rem;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.layerThreeQuota{
    margin-right: 25rem;
    text-align: right;
    font-style: normal;
    font-size: 2.3rem;
    font-weight: bolder;
}

/* LAYER 4 PREFOOT/FOOTER */

.layerFourPrefooter{
    padding: 6.25rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.travelAdvert{
    display: flex;
    background-color: #3882F6;
    border-radius: 0.4rem;
    padding: 3.1rem 0rem;

}

.advertText{
    margin: 0px 10em;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.advertHeroText{
    font-size: 1.5rem;
    font-weight: bold;
}

.advertButton{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.advertBookingLink{
    margin: 0px 10rem;
    background-color: #3882F6;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: #F9FAF8;
    text-decoration: none;
    transition: 0.5s;
    border-color: white;
    border-style: solid;
    border-width: 0.15rem;
}

.advertBookingLink:hover{
    border-radius: 0.5rem;
    transform: scale(1.1);
    background-color: #F9FAF8;
    color: #3882F6;
}

.advertBookingLink:active{
    opacity: 0.7;
}


.layerFourContent{
    background-color: #081322;
    padding: 5rem 0rem;
}

.layerFourContent .footerText{
    text-align: center;
    color:#E5E7EB;
}

/* OTHERS */

#active{
    text-decoration: underline;
}

